<div style="border: 3px solid #73AD21;width: 50%;">
<h1 class="LC20lb DKV0Md" style="text-align: center;"><em>mY branD</em></h1>
<h2 style="color: #2e6c80; text-align: center;">Order Confirmation</h2>
<p style="text-align: center;">Hey {{customerName}},</p>
<p style="text-align: center;">We've got your order!</p>
<p style="text-align: center;">We will drop you another email when your oder ships.</p>
<p style="text-align: center;"><strong>ORDER NUMBER: {{orderId}}</strong></p>
<p style="text-align: center;"><strong>{{dop}}</strong></p>
<p style="text-align: center;"><strong>ITEMS ORDERED<br /></strong></p>
<table style="border-collapse: collapse; width: 86.6365%; height: 54px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 42.7278%; text-align: left; height: 18px;"><strong>Item</strong></td>
<td style="width: 23.9388%; text-align: left; height: 18px;"><strong>Quantity</strong></td>
<td style="width: 19.9721%; text-align: left; height: 18px;"><strong>Cost</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 42.7278%; text-align: left; height: 18px;">Keyboard</td>
<td style="width: 23.9388%; text-align: left; height: 18px;">1</td>
<td style="width: 19.9721%; text-align: left; height: 18px;">200</td>
</tr>
<tr style="height: 18px;">
<td style="width: 42.7278%; text-align: left; height: 18px;">Subtotal</td>
<td style="width: 23.9388%; text-align: left; height: 18px;">&nbsp;</td>
<td style="width: 19.9721%; text-align: left; height: 18px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 42.7278%; text-align: left;">Discount</td>
<td style="width: 23.9388%; text-align: left;">&nbsp;</td>
<td style="width: 19.9721%; text-align: left;">5</td>
</tr>
<tr>
<td style="width: 42.7278%; text-align: left;">Total</td>
<td style="width: 23.9388%; text-align: left;">&nbsp;</td>
<td style="width: 19.9721%; text-align: left;">195</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Thank you for visiting <strong><em>mY branD. <br /></em></strong></p>
<p style="text-align: center;"><strong>For any help please <a href="mailto:contact@1800-00-2222">contact@1800-00-2222</a></strong></p>
<p style="text-align: center;"><strong>or write to help@mybrand.com</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
 </div>  